$vendors = '-webkit-', '-moz-', ''
vendor($prop, $args)
  for $vendor in $vendors
    {$vendor}{$prop} $args

$cursor = '../assets/cursor'
cursor($postfix = '')
  cursor: s('url(%s)', 'twat')
  // s('bar(%s)', 'baz');
  // cursor: -webkit-image-set(url('{$cursor}-active.png') 1x, url('{$cursor}-active@2x.png') 2x) 32 32, auto

*
  margin: 0
  padding: 0
  border: none
  user-select: none
  vendor('tap-highlight-color', rgba(0,0,0,0))

body
  cursor()
  // cursor: url('{$cursor}.png') 32 32, auto
  // cursor: -webkit-image-set(url('{$cursor}.png') 1x, url('{$cursor}@2x.png') 2x) 32 32, auto

body:active
  cursor('-active')
  // cursor: url('{$cursor}-active.png') 32 32, auto
  // cursor: -webkit-image-set(url('{$cursor}-active.png') 1x, url('{$cursor}-active@2x.png') 2x) 32 32, auto
